################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HitTester/x64/Release
/HitTester/Debug
/HitTester/.vs/HitTester/v16
